.DS_Store
.env*
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
__pycache__
.env_file

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Direnv
.envrc
.direnv

.github/**
/aws-auth-patch2.yml
/aws-iam-authenticator
/aws-iam-authenticator.sha256
/cluster-create-role.json
/cluster-trust-policy.json
/ClusterCreateRoleStack.yaml
/iam-role-policy.json
/trust.json
